// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//global reset
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px=62.5% --> 1rem=10px
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	// 1.cell 80% of the view height/ 2.cell fit to content - auto could be used as well / 3.cell 40%of the view width / the remainder cellsx3 min-content or auto
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	// 8rem for the sidebar + 8 equal columns occupying the viewport width - 14rem max and minimum as possible to fit the content squezzed between 2 1fr columns which shrink/grows freely
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(
			6rem,
			1fr
		) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr) [full-end];

	//temp
	& > * {
		padding: 40px;
		font-size: 3rem;
	}
}
