.header {
	background-color: $color-grey-dark-1;
	grid-column: full-start/col-end 6;

	background-image: linear-gradient(
			rgba($color-secondary, 0.93),
			rgba($color-secondary, 0.93)
		),
		url(../img/hero.jpeg);
	background-size: cover;
	background-position: top;
	padding: 8rem;
	padding-top: 4rem;
	justify-content: center; //centerline the subgrid below

	//create sub-grid system
	display: grid;
	//grid container needs to be more responsive as well so max-content and min-content range needs to be established.
	grid-template-columns: minmax(min-content, max-content);
	grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr; //defined the first row and we established specific height of the container. The remainder try to fit in between
	grid-row-gap: 1.5rem;

	&__logo {
		height: 3rem;
		justify-self: center;
	}
	&__btn {
		align-self: start;
		justify-self: start;
	}
	&__seenon-text {
		//create a sub grid system
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-column-gap: 3rem;
		align-items: center;

		font-size: 1.6rem;
		color: $color-grey-light-2;

		&::before,
		&::after {
			content: "";
			display: block;

			height: 1px;
			background-color: currentColor;
		}
	}
	&__seenon-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 3rem;
		justify-items: center;
		align-items: center;

		img {
			// the images wont scale to viewport width as height remains same so the table remains same so we have to change it to max-height in order to make it responsive
			max-height: 2.5rem;
			max-width: 100%;
			filter: brightness(70%);
		}
	}
}
